<div class='row'>
  <div class='large-6 columns' >
    <h1>Wingtags</h1>
  </div>
</div>

<div id="spinner-modal" class="reveal-modal" data-reveal>
  <p>Saving...</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
	$(function() {
		console.log("Hey!");
		App.router = new App.Router();
      	Backbone.history.start();
	});
</script>

<div id="app-container"></div>