<div class='row'>
  <div class='large-6 columns' >
    <h1>Wingtags</h1>
  </div>
</div>



<script type="text/javascript">
	$(function() {
		console.log("Hey!");
		App.router = new App.Router();
      	Backbone.history.start();
	});
</script>

<div id="app-container"></div>