<h1>ohai!</h1>



<script type="text/javascript">
	$(function() {
		console.log("Hey!");
		App.router = new App.Router();
      	Backbone.history.start();
	});
</script>

<div id="app-container"></div>