<div class='row'>
  <div class='large-6 columns' >
    <h1>Wingtags</h1>
  </div>
</div>

<section class="main-content">
  <div class="row centered-text">
    <div class="large-6 columns">
      <p>The purpose of the Wingtags Project is to understand how Sulphur-crested Cockatoos have adapted to living in the highly urban environment of Sydney by using crowdsourced reports from people like you.</p>
      <p>Learn more ⟶</p>
    </div>
  </div>
</section>

<section class="main-content">
  <div class="row centered-text">
    <div class="large-6 columns">
      <%= link_to(new_observation_path) do %>
        <h2>Seen a bird?</h2>
        <p>Our birds have a large yellow tag on their wing. If you've seen one, please tell us!</p>
      <% end %>
    </div>
  </div>
</section>

<section class="main-content">
  <div class="row centered-text">
    <div class="large-6 columns">
      <%= link_to(observations_path) do %>
        <h2>Sightings</h2>
        <p>See where our birds have been about town ⟶</p>
      <% end %>
    </div>
  </div>
</section>

<section class="main-content">
  <div class="row centered-text">
    <div class="large-6 columns">
      <h2>The birds</h2>
      <p>Papparazzi shots of our little avian celebrities ⟶</p>
    </div>
  </div>
</section>

<section class="main-content">
  <div class="row centered-text">
    <div class="large-6 columns">
      <h2>Sponsorships</h2>
      <p>Name your very own bird, plus other exclusive privledges ⟶</p>
    </div>
  </div>
</section>
