<!DOCTYPE html>
<html>
<head>
  <title>Wingtags</title>
  <!-- Javascript error logging: -->
  <script>
    (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
    c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
    c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
    _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
    (window,document,"script","544f66cc5609fb8d7d000e5e");
  </script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="icon" sizes="196x196" href="wingtags-logo-196x196.png">
  <link rel="icon" sizes="128x128" href="wingtags-logo-128x128.png">
  <link rel="apple-touch-icon" sizes="76x76" href="wingtags-logo-76x76.png">
  <link rel="apple-touch-icon" sizes="128x128" href="wingtags-logo-128x128.png">
  <link rel="apple-touch-icon" sizes="196x196" href="wingtags-logo-196x196.png">
</head>
<body>

<!-- start -->
<%= yield %>

</body>
</html>
